@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: var(--font-montserrat);
    color: #000;
  }
  header{
    /* background: rgba(255, 255, 255, 0.854);
    color: black; */
  }
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-neucha);
  }
  .home-hero {
    background-image: url("../app/Components/Hero/Assets/HomeHero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-hero {
    background-image: url("../app/Components/Hero/Assets/ContactHero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .faq-hero {
    background-image: url("../app/Components/Hero/Assets/Faq.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .reviews-hero {
    background-image: url("../app/Components/Hero/Assets/Reviews.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-hero {
    background-image: url("../app/Components/Hero/Assets/About\ Us.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .academics-hero {
    background-image: url("../app/Components/Hero/Assets/Academics.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .classes-hero {
    background-image: url("../app/Components/Hero/Assets/Classes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .satisfied {
    background-image: url("../app/Components/Hero/Assets/Satisfied.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer {
    background-image: url("../app/Components/Hero/Assets/Footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .general-faq{
    background-color: rgba(245, 130, 85, 0.42);
  }

  .curriculum-faq{
    background: rgba(0, 61, 82, 0.42);

  }
  .activity-faq{
    background: rgba(211, 47, 35, 0.42);

  }
  .founder{
    background: rgba(211, 47, 35, 0.42);

  }
  .reviews{
    border: 1px solid rgba(192, 171, 106, 0.15);
  }

  /* Hero Slider */
  .faq-slider {
    background-image: url("../app/Components/Hero/HeroSliderAssets/Faq\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .reviews-slider {
    background-image: url("../app/Components/Hero//HeroSliderAssets/Reviews.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .academics-slider {
    background-image: url("../app/Components/Hero//HeroSliderAssets/Academics.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .classes-slider {
    background-image: url("../app/Components/Hero//HeroSliderAssets/Classes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-slider {
    background-image: url("../app/Components/Hero//HeroSliderAssets/About\ Us\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-slider {
    background-image: url("../app/Components/Hero//HeroSliderAssets/contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* slider fade slowly */
  .mySwiper .swiper-slide {
    opacity: 0;
    transition: opacity 2s; 
  }
  
  .mySwiper .swiper-slide-active {
    opacity: 1;
  }

  /* new */
  .fade-animation {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-animation.active {
    opacity: 1;
  }