@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: var(--font-montserrat);
    color: #000;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-neucha);
  }
  .home-hero {
    background-image: url("../Components/Hero/Assets/HomeHero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-hero {
    background-image: url("../Components/Hero/Assets/ContactHero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .faq-hero {
    background-image: url("../Components/Hero/Assets/Faq.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .reviews-hero {
    background-image: url("../Components/Hero/Assets/Reviews.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-hero {
    background-image: url("../Components/Hero/Assets/About\ Us.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .academics-hero {
    background-image: url("../Components/Hero/Assets/Academics.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .classes-hero {
    background-image: url("../Components/Hero/Assets/Classes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .general-faq{
    background-color: rgba(245, 130, 85, 0.42);
  }

  .curriculum-faq{
    background: rgba(0, 61, 82, 0.42);

  }
  .activity-faq{
    background: rgba(211, 47, 35, 0.42);

  }
  .founder{
    background: rgba(211, 47, 35, 0.42);

  }